html {
  /* CSS HEX */
--silver: #bebbbbff;
--english-violet: #444054ff;
--dark-purple: #2f243aff;
--dark-purple-neon: #8A2BE2;
--pale-dogwood: #fac9b8ff;
--salmon: #db8a74ff;

/* CSS HSL */
--silver: hsla(0, 2%, 74%, 1);
--english-violet: hsla(252, 14%, 29%, 1);
--dark-purple: hsla(270, 23%, 18%, 1);
--pale-dogwood: hsla(15, 87%, 85%, 1);
--salmon: hsla(13, 59%, 66%, 1);

}

body{
  overflow: hidden;
  position: relative;
  background-color: var(--dark-purple);
  min-height: 100vh;
  color: var(--silver);
}
.cursor-glow{
  z-index: -1;
  height: 768px;
  width: 768px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px var(--dark-purple);
  background: radial-gradient(circle, rgba(137, 43, 226, 0.1) 0%, rgba(47, 36, 58, 0.1) 70%);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
#root{
  display: flex;
  float: right;
  width: calc(100vw - min(20vw, 56px));
  min-height: 100vh;
}